*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(best-server-hosting-for-fivem.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    position: absolute;
    width: 79px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 10px;
    top: -69%;
    border-radius: 10px;
    border: 1px solid #fff;
}
img{
    width: 55px;
    position: relative;
}
container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5cm;
}
.passwd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 40vh;
    width: 80%;
    border-radius: 20px;
}
label{
    font-size: 20px;
    color: #F7F7FE;
    font-family: sans-serif;
    position: relative;
    top: 10px;
}
.js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 20vh;
    width: 100%;
    border-radius: 20px;
}
#em{
    padding: 10px;
    margin: 40px;
    border: none;
    background: transparent;
    border-bottom: 4px solid #fff;
    width: 55%;
    color: #fff;    
    position: relative;
    top: 10px;
    outline: none;
}
#em.active{
    visibility: hidden;
}
input:nth-child(2){
    position: absolute;
    width: 36%;
    border: 1px solid #fff;
    top: 40%;
    margin: 0;
    height: 6vh;
    border: none;
    background: transparent;
    border-bottom: 4px solid #fff;
    color: #fff;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 4px;
    visibility: hidden;
    border-radius: 4px;
}
input:nth-child(2).active{
    visibility: visible;
}
button{
    border: none;
    background: none;
    height: 40px;
    position: relative;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    color: #fff;
    top: 1px;
}
.co{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    background: #282b30;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    top: 70%;
    height: 50px;
    text-transform: uppercase;
    color: #37b9f1;
    font-size: 20px;
}
a{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    background: #282b30;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    top: 0;
    position: relative;
    color: #fff;
    visibility: hidden;
}
a.active{
    visibility: visible;
}
